 <header class="shadow-sm bg-light">
  <div class="container">
    <div class="row">
      <div class="col-7 text-center">
        <h1>Outing!</h1>
      </div>
      <div class="col-5 text-center mt-2">
        <%= form_tag('/admin/search', method: :get, class: 'search-form') do %>
         <%= text_field_tag :search %>
         <%= submit_tag 'Search', :name => nil, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>

    <div class="row">
     <div class="col-8 offset-2">
      <div class="row mt-2">

       <% if admin_signed_in? %>
        <div class="col-3 text-center">
         <%= link_to admin_path, class: 'text-dark' do %>
          <h4><i class="fa-solid fa-house"></i></h4>
         <% end %>
        </div>

        <div class="col-3 text-center">
         <%= link_to destroy_admin_session_path, method: :delete, class: 'text-dark' do %>
          <h4><i class="fa-solid fa-right-from-bracket"></i></h4>
         <% end %>
        </div>
       <% else %>
        <div class="col-3 text-center">
         <%= link_to admin_path, class: 'text-dark' do %>
          <h4><i class="fa-solid fa-house"></i></h4>
         <% end %>
        </div>

        <div class="col-3 text-center">
         <%= link_to new_admin_session_path, class: 'text-dark' do %>
          <h4><i class="fa-solid fa-right-to-bracket"></i></h4>
         <% end %>
        </div>
       <% end %>

      </div>
     </div>
    </div>

  </div>
</header>