<div class="container mt-3">
  <div class="row">
    <div class="col-8 offset-2">
      <% if @users.exists? %>
        <% @users.each do |user| %>
          <div class="table">
            <table>
              <thead>
                <tr>
                  <th></th>
                  <th>ニックネーム</th>
                  <th>ユーザーネーム</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <%= link_to user_path(user.id) do %>
                     <%= image_tag user.get_profile_image(50, 50), class: "rounded-circle"; %>
                    <% end %>
                  </td>
                  <td><%= user.nickname %></td>
                  <td><%= user.user_name %></td>
                  <td>フォロー数: <%= user.followings.count %></td>
                  <td>フォロワー数: <%= user.followers.count %></td>
                </tr>
              </tbody>
            </table>
          </div>
        <% end %>
      <% else %>
        <p>ユーザーはいません</p>
      <% end %>
    </div>
  </div>
</div>