<div class="container">
  <div class="row mt-2">
    <div class="col-7 mx-auto border-bottom">
      <%= link_to user_path(notification.visitor) do %>
        <%= image_tag notification.visitor.get_profile_image(40, 40), class: "rounded-circle"; %>
        <strong><%= notification.visitor.nickname %></strong>
      <% end%>
      <%= "さんが" %>

      <% case notification.action %>
      <% when "follow" then %>
        <%= "あなたをフォローしました" %>
      <% when "favorite" then %>
        <%= link_to "あなたの投稿", post_item_path(notification.post_item) %>
        <%= "にいいねしました" %>
      <% when "comment" then %>
        <% if notification.post_item.user_id == notification.visited.id %>
          <%= link_to "あなたの投稿", post_item_path(notification.post_item), class: "font-weight: bold;" %>
        <% else %>
          <%= link_to post_item_path(notification.post_item) do %>
            <%= image_tag notification.post_item.user.get_profile_image(100, 100), class:"icon_mini" %>
            <strong><%= notification.post_item.user.nickname %></strong>
            <%= "さんの投稿" %>
          <% end %>
        <% end %>
        <%= "にコメントしました" %>
        <p class="text-muted mb-0"><%= PostComment.find_by(id: notification.post_comment_id)&.comment %></p>
      <% end %>

      <div class="small text-muted text-right">
        <%= time_ago_in_words(notification.created_at).upcase %>
      </div>
    </div>
  </div>
</div>