 <header class="shadow-sm bg-light menu-bar">
  <div class="container">
    <div class="row">

       <% if user_signed_in? %>
        <div class="col-12 col-md-12 col-lg-2 text-center">
         <%= link_to post_items_path, class: 'text-dark' do %>
           <%= image_tag 'Outing.jpg' %>
         <% end %>
        </div>

        <div class="col-1 d-flex align-items-center">
         <%= link_to new_post_item_path, class: 'text-dark' do %>
          <h4><i class="fa-solid fa-pen-to-square"></i></h4>
         <% end %>
        </div>

        <div class="col-1 d-flex align-items-center">
         <%= link_to user_path(current_user.id), class: 'text-dark' do %>
          <h4><i class="fa-solid fa-user"></i></h4>
         <% end %>
        </div>

        <div class="col-1 d-flex align-items-center">
         <%= link_to favorites_user_path(current_user), class: 'text-dark' do %>
          <h4><i class="fa-solid fa-heart"></i></h4>
         <% end %>
        </div>

        <div class="col-1 d-flex align-items-center">
         <%= link_to notifications_path, class: 'text-dark' do %>
          <% if unchecked_notifications? %>
           <h4><i class="fa-solid fa-bell notice"></i></h4>
          <% else %>
           <h4><i class="fa-solid fa-bell"></i></h4>
          <% end %>
         <% end %>
        </div>

        <div class="col-1 d-flex align-items-center">
         <%= link_to destroy_user_session_path, method: :delete, class: 'text-dark' do %>
          <h4><i class="fa-solid fa-right-from-bracket"></i></h4>
         <% end %>
        </div>

        <div class="col-5 col-md-7 col-lg-5 d-flex align-items-center">
          <%= render "public/searchs/form" %>
        </div>
       <% else %>
        <div class="col-12 col-md-12 col-lg-2 text-center">
         <%= link_to post_items_path, class: 'nav-link text-dark' do %>
          <%= image_tag 'Outing.jpg' %>
         <% end %>
        </div>

        <div class="col-2 col-sm-1 col-md-1 col-lg-1 d-flex align-items-center offset-2 offset-lg-1 offset-md-1 col-sm-1">
         <%= link_to new_user_registration_path, class: 'nav-link text-dark' do %>
          <h4><i class="fa-solid fa-user-plus"></i></h4>
         <% end %>
        </div>

        <div class="col-2 col-sm-1 col-md-1 col-lg-1 d-flex align-items-center">
         <%= link_to new_contact_path, class: 'nav-link text-dark' do %>
          <h4><i class="fa-solid fa-envelope"></i></h4>
         <% end %>
        </div>

        <div class="col-2 col-sm-1 col-md-1 col-lg-1 d-flex align-items-center">
         <%= link_to new_user_session_path, class: 'nav-link text-dark' do %>
          <h4><i class="fa-solid fa-right-to-bracket"></i></h4>
         <% end %>
        </div>

        <div class="col-5 col-md-7 col-lg-5 d-flex align-items-center offset-2 offset-md-1 offset-lg-1">
          <%= render "public/searchs/form" %>
        </div>
       <% end %>

    </div>
  </div>
</header>