<%= render "public/sessions/header" %>

<% flash.each do |message_type, message| %>
  <div class="flash-message <%= message_type %>"><%= message %></div>
<% end %>

<div class="container mt-3">
  <div class="row">
    <div class="col-3">
      <div class="bg-primary rounded">
        <h3>新規投稿</h3>
      </div>
    </div>
  </div>
</div>

<div class="container mt-3 border-bottom border-black">
  <div class="row">
    <%= form_with model: @post_item do |f| %>
      <div class="col-4 offset-1 mb-3">
        <h5>
          <label>写真を選択</label>
          <%= f.file_field :image, accept: "image/*" %>
        </h5>
      </div>

      <div class="col-10 offset-1 mb-3">
        <h5><label>場所を入力</label></h5>
          <%= f.text_field :address %>
          <%= f.hidden_field :lat,:value =>"緯度", id: :lat %>
          <%= f.hidden_field :lng,:value =>"経度", id: :lng %>

        <h5>Map(場所を検索して表示させてください。)</h5>

        <input id="address" type="textbox" value="GeekSalon">
        <input type="button" value="検索" onclick="codeAddress()">
        <p>マーカーをドラッグ＆ドロップで位置の調整ができます。<p>
        <div id='map'></div>

        <style>
        #map {
          height: 600px;
          width: 600px;
        }
        </style>

        <script>
        //初期マップの設定
        let map
        let marker
        function initMap(){
          geocoder = new google.maps.Geocoder()

          map = new google.maps.Map(document.getElementById('map'), {
            center:  {lat: 35.6803997, lng:139.7690174},  //東京
            zoom: 15,

          });
        }

        //検索後のマップ作成
        let geocoder
        let aft
        function codeAddress(){
          let inputAddress = document.getElementById('address').value;
          geocoder.geocode( { 'address': inputAddress}, function(results, status) {
            if (status == 'OK') {
                //マーカーが複数できないようにする
                if (aft == true){
                    marker.setMap(null);
                }

                //新しくマーカーを作成する
                map.setCenter(results[0].geometry.location);
                    marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location,
                    draggable: true	// ドラッグ可能にする
                });

                //二度目以降か判断
                aft = true

                //検索した時に緯度経度を入力する
                document.getElementById('lat').value = results[0].geometry.location.lat();
                document.getElementById('lng').value = results[0].geometry.location.lng();

                // マーカーのドロップ（ドラッグ終了）時のイベント
                google.maps.event.addListener( marker, 'dragend', function(ev){
                    // イベントの引数evの、プロパティ.latLngが緯度経度
                    document.getElementById('lat').value = ev.latLng.lat();
                    document.getElementById('lng').value = ev.latLng.lng();
                });
            } else {
              alert('該当する結果がありませんでした：' + status);
            }
          });
        }

        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDR3k8za8plwoDN2g8e2icPD1h1LJOPcdQ&callback=initMap" async defer></script>
      </div>

      <div class="col-4 offset-1 mb-3">
        <h5>
          <label>投稿文</label>
          <%= f.text_area :post_item %>
        </h5>
      </div>

      <div class="col-6 offset-1 d-flex align-items-center">
        <h5><%= f.submit "投稿する", class: "btn btn-success mr-5" %></h5>
      </div>
    <% end %>
  </div>
</div>